// Navigation Styles here
header {
    
    nav {
        .flex-column();
        padding: 20px 0;
        border-bottom: 2px dashed @silver;
        .container.nav {
            .flex();
            width: 100%;
            justify-content: space-between;
            align-items: stretch;
            border-bottom: none;
            ul {
                .flex();
                font-size: 2rem;
                li {
                    .flex();
                    margin-left: 5px;
                    a {
                        .flex();
                        padding: 0 20px;
                        align-items: center;
                        background-color: red;
                    }
                }
            }
        }
        
    }
    .container {
        border-bottom: 2px dashed @silver;
        img {
            margin-bottom: 30px;
        }
    }
}